:root {
  --vp-c-brand: #ff6464;
  --vp-c-brand-light: #ff7474;
}

.example {
  width: 100%;
  height: 240px;
  box-shadow: 0 0 5px #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.dark .example {
  border-color: #333;
  box-shadow: 0 0 5px #666;
}

canvas {
  outline: none;
}

table {
  font-size: 0.875em;
}

.example-with-props {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 960px) {
  .example-with-props {
    flex-direction: row;
  }

  .example-props {
    flex-basis: 32em;
  }
}

.VPNavBarSearch {
  position: absolute;
  right: 82px;
}

@media (min-width: 960px) {
  .has-sidebar .VPNavBarSearch {
    position: absolute;
    left: 32px;
  }

  .no-sidebar .VPNavBarSearch {
    position: absolute;
    left: 128px;
  }
}

.demo-welcome {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

@media (min-width: 960px) {
  .demo-welcome {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
  }

  .demo-welcome .tp-lblv_v {
    width: 128px !important;
  }
}
